@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: white;
}

body::-webkit-scrollbar,
select::-webkit-scrollbar,
.search-results::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: #203260;
}

body::-webkit-scrollbar-thumb:hover,
select::-webkit-scrollbar-thumb:hover {
  background: #394c77;
}

select::-webkit-scrollbar-track {
  background: transparent;
}

select::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 2px;
}

.search-results::-webkit-scrollbar-track {
  background: #e3e3e3;
}

.search-results::-webkit-scrollbar-thumb {
  background: #acacac;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #19284d !important;
  -webkit-text-fill-color: #c9c9c9 !important;
}

.search-results {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-out;
}

.search-results.show {
  max-height: 160px;
}

@layer utilities {
  .max-w-8xl {
    max-width: 112rem;
  }
}

/* Base styles */
@layer base {
  header {
    @apply relative flex items-center justify-between h-28;
  }
  h1 {
    @apply font-raleway font-black tracking-tight align-middle text-3xl xs:text-4xl sm:text-5xl;
  }
  input {
    @apply relative input input-md outline-none focus:outline-none;
  }
}

/* Shared Components */
@layer components {
  .container {
    @apply flex flex-col items-center space-y-7 mx-auto md:space-y-12 px-4 pt-16;
  }
  .heading {
    @apply text-2xl xs:text-4xl text-center font-bold text-recipease-300;
  }
  .form {
    @apply flex flex-col items-center space-y-5;
  }
  .input-field {
    @apply w-full min-w-[200px] xs:w-72 bg-recipease-700 pl-9 text-sm placeholder:text-gray-400 placeholder:font-semibold focus:bg-recipease-800 selection:bg-slate-500 selection:text-slate-800;
  }
}

/* Sidebar Components */
@layer components {
  .sidebar-item {
    @apply flex items-center gap-x-4 btn-ghost cursor-pointer mt-5 px-2 py-3 rounded-md;
  }
  .category {
    @apply btn-ghost mt-1 ml-3 font-red-hat font-extralight text-sm rounded-md cursor-pointer;
  }
}

/* Authentication Pages' Components */
@layer components {
  .authentication-link {
    @apply font-bold text-recipease-200 transition duration-200 hover:text-recipease-100;
  }
  .authentication-icon {
    @apply absolute left-3 top-4 z-10;
  }
}

/* About Page Components */
@layer components {
  .about-p {
    @apply mt-3 text-recipease-100 text-center;
  }
}

/* Categories scrollbar */
ul::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
ul::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 2px;
}

/* Handle on hover */
ul::-webkit-scrollbar-thumb:hover {
  background: #394c77;
}
