@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: white;
}

@layer utilities {
  .max-w-8xl {
    max-width: 112rem;
  }
}

/* Base styles */
@layer base {
  header {
    @apply relative z-20 flex items-center justify-between h-28 bg-recipease-50 text-white;
  }
  h1 {
    @apply font-raleway font-black tracking-tight align-middle text-3xl xs:text-4xl sm:text-5xl;
  }
  input {
    @apply relative input input-md outline-none focus:outline-none;
  }
}

/* Sidebar Components */
@layer components {
  .sidebar-item {
    @apply flex items-center gap-x-4 btn-ghost cursor-pointer mt-5 px-2 py-3 rounded-md;
  }
  .category {
    @apply btn-ghost mt-1 pl-7 py-1 font-red-hat font-extralight text-sm rounded-md cursor-pointer;
  }
}

/* Categories scrollbar */
ul::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
ul::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 2px;
}

/* Handle on hover */
ul::-webkit-scrollbar-thumb:hover {
  background: #394c77;
}
